---
import Navi from "../components/Navi.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects I am proud of">
    <Navi />
    <main class="flex-grow">
        <h1
            class="font-bold text-3xl md:text-5xl tracking-tight mb-5 text-transparent bg-clip-text bg-gradient-to-r from-yellow-500 to-red-600"
        >
            # Projects
        </h1>
        <p>Under construction</p>
    </main>
    <Footer />
</Layout>
