---
import { Icon } from "astro-icon/components";
---

<div class="mt-6 flex gap-6">
    <a
        href="https://twitter.com/jan_friebe"
        target="_blank"
        rel="noopener"
        class="text-zinc-400 transition hover:text-zinc-300 w-6 h-6"
    >
        <Icon size={24} name="ri:twitter-x-fill" />
    </a>

    <a
        href="https://github.com/friebe"
        target="_blank"
        rel="noopener"
        class="text-zinc-400 transition hover:text-zinc-300 w-6 h-6"
    >
        <Icon size={24} name="ri:github-fill" />
    </a>

    <a
        href="mailto:kontakt@jan.friebe.de"
        class="text-zinc-400 transition hover:text-zinc-300 w-6 h-6"
    >
        <Icon size={24} name="ri:mail-fill" />
    </a>
</div>
