---
const { name, desc, repoLink, tags } = Astro.props;
import { Icon } from "astro-icon";
---

<ul class="p-0 m-1 border-gray-700">
    <li class="list-none p-3 hover:bg-zinc-900">
        <a href={repoLink}>
            <div class="flex justify-between">
                {name}
                <div class="">
                    <span class="flex-end mr-1 inline-block w-4">
                        <Icon pack="ri" class="" name="arrow-right-up-line" />
                    </span>
                    <span class="inline-block w-4">
                        <Icon pack="ri" class="" name="github-fill" />
                    </span>
                </div>
            </div>
            <p class="text-zinc-500">{desc}</p>
        </a>
        <div
            class="gap-y-1.5 gap-x-4 flex-wrap inline-flex items-center text-xs font-semibold"
        >
            {
                tags.map((tag: string) => (
                    <span class="text-xs inline-flex items-center uppercase px-2 py-1 bg-zinc-300 text-zinc-700 rounded-full">
                        {tag}
                    </span>
                ))
            }
        </div>
    </li>
</ul>
