---
const { date, title, url } = Astro.props;
---

<li class="list-none">
    <a class="text-bold text-zinc-400 hover:text-zinc-100" href={url}
        >{title}
        <p>{date.slice(0, 10)}</p>
    </a>
</li>
