---
const { date, title, url } = Astro.props;
---

<ul class="p-0 m-0 border-gray-700">
    <li class="list-none p-3 hover:bg-zinc-900">
        <a href={url}>
            <div class="flex-1 min-w-0">
                {title}
                <p class="m-0 text-zinc-500">{date.slice(0, 10)}</p>
            </div>
        </a>
    </li>
</ul>
